html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: darkgray;
}

div.userForm, form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
}

div.userForm{
  
  border: 2px solid black;
  padding: 2.5rem;
}

h2 {
  font-weight: bold;
}

button {
  margin-bottom: 1rem;
  padding: 0.5rem;
}